[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pylama = "*"
pylama-pylint = "*"
eradicate = "*"
gitpython = "*"
mypy = "*"
black = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"

[requires]
python_version = "3.8"
